name: C++ Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Compile
        run: g++ main.cpp -std=c++17 -Wall -Wextra -o app
